@model TTN_Vitamin.Models.TaiKhoan
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Đăng Nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title - Vitamin House</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div>
        <h1 style="font-style:italic;color:darkblue;margin-left:15px">Chào mừng bạn đến với thế giới đồ ăn nhanh VitaminHouse</h1>
        <span>
            <img src="~/AnhSP/logo.png" style="width:600px; height:281px" />
        </span>
    </div>
    <div class="login" style="border-style:solid;width:400px;align-content:center;text-align:center;margin-left:600px;margin-top:-282px" >
        <h3 style="text-align:center;font-size:xx-large;margin-top:5px;color:red">Đăng nhập</h3>
        @using (Html.BeginForm("DangNhap", "Home", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group"style="margin-left:0px">
                <strong style="color:red">  @Html.LabelFor(m => m.email)</strong> 
                @Html.TextBoxFor(m => m.email, "", new {@class="form-control",@placeholder="Nhập email đăng nhập", @required = "Không được để trống" })

            </div>
            <div class="form-group" style="margin-left:0px">
                <strong style="color:red"> @Html.LabelFor(m => m.matKhau)</strong>
                @Html.PasswordFor(m => m.matKhau, new { @class = "form-control", @placeholder = "Mật khẩu", @required = "Không được để trống" })
            </div>
            <div style="text-align:center; clear:both;">
                <div style="margin:20px 0;">
                    <a href="#" style="text-decoration:none">Quên mật khẩu</a>
                </div>
                <input class="btn btn-primary" type="submit" name="submit" value="Đăng Nhập"/>
            </div>
        }
        @if (ViewBag.error != null)
        {
            <br />
            <div class="alert alert-danger" role="alert" style="color:red;margin-left:0px">@ViewBag.error</div>
        }

    </div>

</body>
</html>



